* {
    textColor: #cdcdcd;
    darkColor: #1f232d;
    lightColor: #272c38;

    -fx-text-fill: textColor;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
}

Button, #menu, .tab-header-background, .tab, .control-buttons-tab, .menu-item, .tab-header, .darkBackground, .table-row-cell :even, TextArea, CheckBox .box, ChoiceBox, .text-field, DatePicker {
    -fx-background-color: darkColor;
}

BorderPane, DialogPane, .lightBackground, .table-row-cell :odd {
    -fx-background-color: lightColor;
}

.arrow, .thumb, .increment-arrow, .decrement-arrow {
    -fx-background-color: textColor;
}

Button {
    -fx-cursor: hand;
}

#loading {
    -fx-background-color: lightcolor;
    -fx-text-fill: #a6a7b2;
    -fx-font-weight: bold;
    -fx-font-size: 32;
}